  .header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 210, 210);
    z-index: 100;

  }

  .left-corner{
    margin-right: 70px;
    display: flex;
    align-items: center;

  }

  
  .middle{
   
    flex: 1;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;

  }

  

    .search-bar{
        flex: 1;
        font-size: 16px;
        height: 36px;
        border-radius: 2px;
        border-width: 1px;
        border-color: rgb(192, 192, 192);
        border-style: solid;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 0 ,0.05);
        padding-left: 12px;
        width: 0;
    }

    .search-bar::placeholder{
        
        font-size: 16px;
    }

    .search-symbol{
        height: 25px;
        display: flex;
        align-items: center;
        
        
    }

    .search{
        height: 39px;
        width: 66px;
        background-color: rgb(240, 240, 240);
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        margin-left: -1px;
        border-color: rgb(192, 192, 192);
        margin-right: 10px;
        

    }

    .search ,
    .voice-search,
    .notifications-with-count,
    .youtube-apps-container ,
    .upload-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search .tool-tip ,
    .voice-search .tool-tip,
    .notifications-with-count .tool-tip,
    .youtube-apps-container .tool-tip ,
    .upload-container .tool-tip{
        position: absolute;
        background-color: grey;
        color: white;
        padding: 4px;
        bottom: -30px;
        border-radius: 2px;
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
        white-space: nowrap;
    }

    .search:hover .tool-tip ,
    .voice-search:hover .tool-tip ,
    .notifications-with-count:hover .tool-tip,
    .youtube-apps-container:hover .tool-tip ,
    .upload-container:hover .tool-tip{
        
        opacity: 1;
    }

    .voice-search{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;
        border-color: rgb(248, 248, 248);
        
    }

    .voice-search-symbol{
        height: 24px;
        width: 24px;
        
    }

  

  .right-corner{
    margin-right: 24px;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;

  }

  .upload{
    height: 24px;
  }

  .youtube-apps{
    height: 24px;
  }
  .notifications{
    height: 24px;
  }

  .my-channel{
    height: 32px;
    border-radius: 16px;
  }


  .hamburger{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .youtube-logo{
    height: 20px;

  }

  .thumbnail-row{
    margin-right: 12px;
    position: relative;
  }

  .video-time{
    background-color: black;
    color: white;
    right: 5px;
    position: absolute;
    bottom: 18px;
    border-radius: 2px;
    font-size: 12px;
    padding: 4px;
    font-weight: 500;
  }

  .notifications-with-count{
    position: relative;
  }

  .notifications-count{
    position: absolute;
    background-color: rgb(200, 0, 0);
    color: white;
    top: -2px;
    right: -5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50px;
    font-size: 10px;

  }

  